bd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="scolarite" type="scolariteType"/>
  <xs:complexType name="enseignantType">
    <xs:sequence>
      <xs:element name="nom">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Albert"/>
            <xs:enumeration value="Delphine"/>
            <xs:enumeration value="Baltimore"/>
            <xs:enumeration value="Daniel"/>
            <xs:enumeration value="Lisa"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="prenom">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Roson"/>
            <xs:enumeration value="Erthe"/>
            <xs:enumeration value="Farot"/>
            <xs:enumeration value="Rilant"/>
            <xs:enumeration value="Manta"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="datenaissance">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1964-12-11"/>
            <xs:enumeration value="1986-05-02"/>
            <xs:enumeration value="1959-05-05"/>
            <xs:enumeration value="1984-12-02"/>
            <xs:enumeration value="1968-07-04"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="grade">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Enseignant-Chercheur"/>
            <xs:enumeration value="Enseignant"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="matieresType" name="matieres"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="notesType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="matiere_noteS2Type" name="matiere_noteS2"/>
      <xs:element type="matiere_noteS1Type" name="matiere_noteS1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="matieresType">
    <xs:sequence>
      <xs:element type="matiereType" name="matiere" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="matiere_noteS2Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id_matiere" use="optional"/>
        <xs:attribute type="xs:string" name="noteS1" use="optional"/>
        <xs:attribute type="xs:string" name="noteS2" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="scolariteType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="etudiantType" name="etudiant" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="enseignantType" name="enseignant" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="matiere_ufType" name="matiere_uf"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="etudiantType">
    <xs:sequence>
      <xs:element name="nom">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Chatelard"/>
            <xs:enumeration value="Matthieu"/>
            <xs:enumeration value="Josue"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="prenom">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Valentin"/>
            <xs:enumeration value="De Sousa"/>
            <xs:enumeration value="Miguel"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="datenaissance">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1994-10-27"/>
            <xs:enumeration value="1989-06-09"/>
            <xs:enumeration value="1992-12-25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="annee">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="cursus">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="IR"/>
            <xs:enumeration value="GP"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="groupe"/>
      <xs:element type="matieresType" name="matieres"/>
      <xs:element type="notesType" name="notes">
        <xs:annotation>
          <xs:documentation>&lt;key and keyref></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="matiere_ufType">
    <xs:sequence>
      <xs:element type="xs:string" name="nom"/>
      <xs:element type="xs:string" name="code"/>
      <xs:element name="annee">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="matiere_noteS1Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id_matiere" use="optional"/>
        <xs:attribute type="xs:string" name="noteS1" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="matiereType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>